* {
    margin: 0;
}

body {
    margin: 0px;
    background-color: white;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.div1 {
    background-color: #EFF4F7;
    min-width: 1400px;
    height: 20px;
    text-align: center;

}

.navbar {

    background-color: white;
    display: flex;
    padding: 5mm 0px;
    height: 45px;


}


.p1 {
    text-align: center;
}

.list1 {
    list-style-type: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 1mm;
    margin-left: 7mm;
    font-size: 4.5mm;
}

.div2 {
    background-color: #EFF4F7;
    height: 20px;
    width: 7cm;
    border-radius: 35px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 1.75cm;
    display: flex;
    margin-left: 3.25cm;

}

#user {
    font-size: 25px;
}

#bag {
    font-size: 25px;
}

#search {
    font-size: 4mm;
}

#truck {
    font-size: 8.5mm;
}

#bill {
    font-size: 8.5mm;
}

#box {
    font-size: 8.5mm;
}

#dotted {
    margin-top: 5%;
    margin-inline: 7%;
}

#percent {
    color: #12B985;
}

#qoute {
    position: absolute;
    right: 13cm;
    font-size: 20mm;
}

.searchbar {
    margin-left: 2mm;
    margin-bottom: 6px;
    background-color: #EFF4F7;
    border: none;
    font-size: 4mm;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    outline: none;
}


.image1 {
    margin-left: 7.75mm;
    margin-top: 1mm;
    width: 100px;
    height: 43px;
}

.div3 {
    margin-top: 10px;
    margin-left: 35px;

}

.div4 {
    margin-top: 10px;
    margin-left: 35px;

}

.heroimage {
    width: 100%;
}

.bar {
    width: 100%;
}

.div5 {
    line-height: 0;
    position: relative;
}

.leftarrow {
    position: absolute;
    top: 250px;
    left: 18px;
    width: 58px;
    height: 58px;

    background-color: #20252a;
    color: white;
    border: none;
    border-radius: 50%;

    font-size: 20px;
}

.rightarrow {
    position: absolute;
    top: 250px;
    right: 18px;
    width: 58px;
    height: 58px;
    background-color: #20252a;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
}

.div6 {
    background-color: #e8f2f7;
    width: 100%;
    height: 2.27cm;
}

.extra25 {
    width: 57px;
}

.div7 {
    position: absolute;
    top: 631px;
    left: 28mm;
    display: flex;
}

.p1 {
    margin-top: 6.8mm;
    font-weight: bold;
}

.p2 {
    position: absolute;
    top: 35px;
    left: 17mm;
}

.p3 {
    margin-top: 2mm;
    font-weight: bold;
}

.p4 {
    position: absolute;
    top: 24px;
    left: 11mm;
}

.p5 {
    margin-top: 1mm;
    margin-left: 2mm;
    font-weight: bold;
}

.p6 {
    position: absolute;
    top: 4mm;
    left: 17mm;
}

.p7 {
    font-weight: bold;
    margin-left: 5mm;
    margin-top: 2mm;
}

.p8 {
    position: absolute;
    top: 6mm;
    left: 12mm;
}

.p9 {
    font-weight: 1000;
    margin-left: 8%;
    margin-top: 6%
}

.p10 {
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 10mm;
    padding: 7px 27px;
    width: 65px;
    background-color: #ECF0F4;
}

.p11 {
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 10mm;
    padding: 7px 27px;
    width: 6.6cm;
    color: white;
    background-color: #1A2024;
    text-align: center;
}

.p12 {
    margin-top: 8%;
    margin-left: 3%;
    border-radius: 10mm;
    padding: 7px 27px;
    color: black;
    text-align: center;
    font-size: 8mm;
}

.p13 {
    margin-left: 2mm;
    font-size: 8mm;
    font-weight: bold;

}

.big_deals {
    display: flex;
}

.div8 {
    display: flex;
    position: absolute;
    top: 650px;
    left: 13cm;
}

.div9 {
    display: flex;
    position: absolute;
    top: 650px;
    left: 21cm
}

.super {
    font-size: 11px;
}

.div10 {
    display: flex;
    position: absolute;
    top: 650px;
    right: 6cm;
}

.heading1 {
    margin-left: 3%;
    margin-top: 2.1%;
}

.h2_1 {
    margin-top: 1.79%;
    margin-left: 0.5%;
    font-weight: 900;
    font-size: 6.5mm;
}

.pre1 {
    font-family: Arial, Helvetica, sans-serif;
}

.h2_2 {
    margin-top: 1.79%;
    font-weight: 900;
    font-size: 6.5mm;
}

.parent_div {
    display: flex;
    margin-left: 2%;
}

.parent_div2 {
    display: flex;
    margin-left: 7.87mm;
    gap: 5px
}

.img {
    border-radius: 5mm;
}

.child_div1 {
    display: block;
    border-radius: 5mm;
    height: 9.5cm;
    background-color: #EFF4F7;
    margin-left: 2.7mm;
    margin-top: 8mm;
}

.rarrow {
    color: #2F5B96;
    position: absolute;
    right: 3.3%;
    top: 23.3cm
}

.rarrow2 {
    color: #2F5B96;
    position: absolute;
    right: 3.3%;
    top: 34.99cm
}

.rarrow3 {
    color: #2F5B96;
    position: absolute;
    right: 3.3%;
    top: 42.6cm
}

.img2 {

    border-radius: 10px;
    margin-top: 2%;
    margin-inline: 2.8%;
    width: 93.4%;
}

.twe {
    color: #5E6365;
    font-weight: bold;
    margin-top: 9mm;
    margin-left: 5mm;
}

.child_div2 {
    display: block;
    border-radius: 5mm;
    height: 13.2cm;
    width: 8.5cm;
    background-color: #EFF4F7;
    margin-left: 2.7mm;
    margin-top: 8mm;
}

.parent_press {
    display: flex;
    gap: 0px;
    margin-left: 3%;
    margin-top: 3.5%;
}

.press {
    background-color: #D0D9DE;
    height: 60px;
    width: 5cm;
    height: 1mm;
    text-align: center;
    padding-inline: 6%;
    padding-block: 8%;
    font-size: 5mm;
}

.qoute {
    background-color: #EFF4F7;
    height: 6cm;
    width: 25.84cm
}

.footer1 {
    background-color: #E9F0F4;
    margin-top: 5%;
    margin-inline: 1.2%;
    display: flex;
    gap: 2cm;
}

.footer-left {
    margin-top: 4%;
    margin-inline: 4%;
    display: flex;
    flex-direction: column;
}


.list2 {
    margin-left: -50%;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    line-height: 200%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}

.li_shop {
    font-weight: 1000;
}

.email_box {
    border-radius: 3mm;
    background-color: white;
    width: 110%;
    font-size: 9mm;
    display: flex;
    height: 12mm;
}

.searchbar2 {
    margin-top: 3mm;
    margin-left: 2mm;
    border: none;
    font-size: 4mm;
    height: 50%;
    width: 110%;
    border-radius: 20px;
    outline: none;
}

#farrow {
    margin-top: 3mm;
    font-size: 6mm;
}

.image_boat {
    width: 50%;
}
.list3{
    margin-left: -42mm;
    margin-top: 34mm;
    display: flex;
    flex-direction: column;
    line-height: 200%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}